@import url("components/input.css");
@import url("components/btn.css");
@import url("components/text.css");
@import url("components/geral.css");

/*  MAIN  */

.main {
    width: 90%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1rem 0;
}

/*  FORM  */

.form {
    max-width: 590px;
    padding-top: 1rem;
}

@media (max-width: 999px) {

    .form {
        max-width: 100%;
    }

}

.form__content {
    width: 60%;
}

@media (max-width: 999px) {

    .form__content {
        width: 100%;
    }

}

.form__flex {
    display: flex;
}

@media (max-width: 630px) {

    .form__flex {
        flex-direction: column;
        align-items: flex-start;
    }

}

.form__flex .field:first-child,
.form__flex .field:nth-child(2) {
    margin-right: 1rem;
}

@media (max-width: 630px) {

    .form__flex .field:first-child  {
        margin-right: 0;
    }

}

.form__flex .btn__container,
.form__flex .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.form__flex .field-checkbox {
    flex: 30%;
}

@media (max-width: 630px) {

    .form__flex .field-checkbox {
        margin-bottom: 1rem;
    }

}

.form__flex--radio {
    margin-top: 1rem;
}

@media (max-width: 630px) {

    .form__flex--radio {
        flex-direction: row;
    }

}

.form__flex--userData {
    margin-top: 3rem;
}

/*  COMPANY LOCATION    */

.form__company-location {
    margin-top: 2rem;
}

.input-radio__container--companyLocation {
    margin-right: 1rem;
}

@media (max-width: 590px) {

    .input-radio__container--companyLocation {
        margin-right: 0;
    }
    
}

/*  COMPANY AREA   */

.form__flex--company-area {
    flex-wrap: wrap;
}

@media (max-width: 473px) {

    .form__flex--company-area {
        justify-content: center;
    }
    
}


/*  MODAL   */

#modal,
#modalConfirm,
#modalConfirmCode,
#modalServiceTerms {
    display: none;
}

#modal:target,
#modalConfirm:target,
#modalConfirmCode:target,
#modalServiceTerms:target {
    display: flex;
}

#modal:not(:target),
#modalConfirm:not(:target),
#modalConfirmCode:not(:target),
#modalServiceTerms:not(:target) {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, .6);
}

.modal__content {
    height: auto;
    max-height: 90%;
    max-width: 400px;
    margin: 0 1rem;
    
    padding: .6rem 1.4rem;

    text-align: center;

    background-color: var(--contrast-color);
    box-shadow: 0px 0px 2px 1px var(--base-color);
    border-radius: 4px;

    
}

@media (max-width: 1000px) {

    .modal__content {
        overflow-y: scroll;
    }
    
}

.modal__content--bigger {
    max-width: 600px;
}

.modal__content--serviceTerms {
    padding: 0;
    text-align: left;
}

.modal__close {
    padding-bottom: .6rem;
    text-align: right;
}

.modal__close__link {
    width: 16px;
    display: block;
    margin-left: auto;

    color: var(--base-color);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.modal__title {
    margin-bottom: 1rem;
    
    color: var(--base-color);
    font-size: 2.4rem;
    font-weight: bold;
}

.paragraph--modal {
    margin-top: 3rem;
}

.btn--modal {
    max-width: 168px;
}

.btn--modal-small {
    font-size: 1.2rem;
}

.field--tel {
    max-width: 140px;
    margin: 1rem auto;
}

/*  SERVICE TERMS   */

.serviceTerms__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1rem;
}

.serviceTerms__title {
    color: var(--base-color);
    font-size: 1rem;
}

.serviceTerms__content {
    padding: .6rem 1.4rem;

    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}

.btn--serviceTerms {
    min-width: 100px;
    max-width: 100px;
    display: block;
    margin: 1rem  0 1rem auto;
    margin-right: 1.4rem;
    padding: .6rem;

    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
}


/*  MODAL SUCCESS   */

.field--cnpj {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.input--cnpj {
    max-width: 300px;
    margin-right: .6rem;

    font-size: 1.4rem;
    text-align: center;
}

.btn--cnpj {
    margin-top: 4rem;
}

/*  ACTIVITY LIST     */

.activity-list {
    max-height: 200px;
    width: 100%;
    padding-left: 1rem;

    list-style: none;
    overflow-y: scroll;
}

.activity-list__item {
    cursor: pointer;

    margin-bottom: .6rem;

    color: var(--base-color);
    font-size: 1.2rem;
    text-transform: uppercase;

    border-bottom: 1px solid #c9c9c9;

}

.activity-list__item:last-child {
    margin-bottom: 8rem;
}

/*  PROGRESS BAR   */

.progress-bar,
.userSuccess__img {
    display: none;
}

@media (min-width: 1024px) {

    .progress-bar {
        position: relative;

        max-width: 330px;
        display: block;
        margin-left: 1rem;
        padding: 1rem;

        text-align: center;

        background-color: #ebebeb;
        border-radius: 6px;
    }

    .progress-bar__bar {
        position: relative;

        height: 20px;
        width: 80%;
        margin: 0 auto 1rem auto;

        background-color: #a9d3ff;
        border: 2px solid var(--contrast-color);
        border-radius: 6px;

    }

    .progress-bar__bar::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        height: 16px;
        width: 0;
        display: block;

        background-color: var(--brand-color-secondary);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .progress-bar__bar--02::after {
        width: 14%;
    }

    .progress-bar__bar--03::after {
        width: 28%;
    }

    .progress-bar__bar--04::after {
        width: 42%;
    }

    .progress-bar__bar--05::after {
        width: 56%;
    }

    .progress-bar__bar--06::after {
        width: 70%;
    }

    .progress-bar__bar--07::after {
        width: 84%;
    }

    .progress-bar__legend {
        min-height: 280px;
        margin-top: 4rem;
        padding: 1rem;

        text-align: left;

        background-color: #d6eaff;
        border: 4px solid var(--contrast-color);
        border-radius: 6px;    
    }

    .progress-bar__legend__content {
        width: 70%;
    }

    .progress-bar__img {
        position: absolute;
        bottom: 0;
        right: 0;

        height: 210px;
        width: 130px;
    }

    .progress-bar__img--02 {
        width: 107px;
    }

    .progress-bar__img--04 {
        width: 121px;
    }

    .progress-bar__img--05 {
        width: 112px;
    }

    .progress-bar__img--06 {
        width: 120px;
    }

    .progress-bar__img--07 {
        width: 138px;
    }

    .userSuccess__img {
        height: 310px;
        display: block;
        margin-top: 10%;
    }

}

/*  USER VOTER  */

.form--userVoter {
    max-width: 100%;
}