/*  BTN CONTAINER  */

.btn__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn__container .btn {
    margin: 0;
}


/*  BTN   */

.btn {
    cursor: pointer;

    min-width: 200px;
    max-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    padding: .8rem 1.2rem;

    color: var(--contrast-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    background-color: var(--brand-color);
    border: 0;
    border-radius: 4px;
}

@media (max-width: 400px) {

    .btn {
        padding: .6rem 1rem;
        font-size: 1rem;
    }

}

.btn__img {
    height: 20px;
    width: 20px;
    margin-right: .6rem;
}

.btn--outline {
    min-width: 120px;
    max-width: 170px;

    color: var(--brand-color);
    font-size: .8rem;

    background-color: var(--contrast-color);
    border: 2px solid var(--brand-color);
}

.btn--small {
    min-width: 100px;
    max-width: 120px;
}

.btn--left {
    margin-left: 0;
    margin-right: 0;
}

/*  BTN PREV   */

.btn-prev {
    cursor: pointer;
    
    display: flex;
    align-items: center;
    margin-right: 1rem;

    color: var(--base-color);
    font-size: 1rem;

    background: none;
    border: 0;
}

.btn-prev__img {
    height: 20px;
    width: 20px;
    margin-right: .6rem;
}