:root {
    --brand-color: #45b347;
    --brand-color-secondary: #002042;
    --base-color: #333333;
    --contrast-color: #fff;
    --error-color: #990000;

    --transition: .2s ease-in-out;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}