 INPUT

.field {
    height: auto;
    width: 100%;
    max-width: 600px;
}

.field--medium {
    max-width: 300px;
}

.field--small {
    max-width: 200px;
}


.input {
    height: 40px;
    width: 100%;
    padding: .6rem;

    border: 1px solid var(--base-color);
    background: none;
}



.label {
    position: relative;

    display: inline-block;

    font-size: .8rem;

    background-color: var(--contrast-color);

    transform: translate(10px, -30px);
    transition: var(--transition);
}

.input:focus, 
.input:valid,
.input:hover,
.label:active,
.label:hover {
    outline: 0;
    border-color: var(--brand-color);
}

.input:focus ~ .label, 
.input:valid ~ .label,
.input:hover ~ .label,
.input:active ~ .label,
.label:active,
.label:hover  {
    padding-left: 5px;
    color: var(--brand-color);
    transform: translate(10px, -48px);
}

.input:focus ~ .label::after, 
.input:valid ~ .label::after,
.input:hover ~ .label::after,
.label:active::after,
.label:hover::after {
    content: '';

    position: absolute;
    top: 5px;
    left: 0;
    z-index: -1;

    width: 110%;
    height: 2px;
    display: block;

    background-color: var(--contrast-color);
}

/*  INPUT SUCCESS */

.input--success {
    background: url('../../img/icon-checkmark.svg') no-repeat;
    background-position-y: center;
    background-position-x: 98%;
}

/*  INPUT ERROR */

.input--error {
    background: url('../../img/icon-cross.svg') no-repeat;
    background-position-y: center;
    background-position-x: 98%;
}

.input--error,
.input--error:focus,
.input--error:valid {
    border-color: var(--error-color);
}

.input--error ~ .label,
.input--error:focus ~ .label,
.input--error:valid ~ .label {
    color: var(--error-color);
}

/*  INPUT DISABLED */

.input:disabled {
    background-color: #ebebeb;
}

.input:disabled ~ .label {
    padding-left: 5px;
    background-color: transparent;
    transform: translate(10px, -48px);
}

.input:disabled ~ .label::after {
    content: '';

    position: absolute;
    top: 5px;
    left: 0;
    z-index: -1;

    width: 110%;
    height: 1px;
    display: block;

    background-color: var(--contrast-color);
}

/*  CHECKBOX   */

.field-checkbox {    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-checkbox {
    position: relative;
    left: 3px;
    z-index: 1;

    opacity: 0;
}

.label-checkbox {
    height: 20px;
    width: 20px;
    display: inline-block;

    border: 1px solid var(--base-color);

    transform: translateX(-13px);
}

.input-checkbox:checked ~ .label-checkbox {
    background: url("../../img/icon-checkmark-checkbox.svg") no-repeat center;
}

/*  SELECT   */

.select {
    height: 40px;
    width: 100%;
    margin-bottom: 1rem;
    padding: .6rem;

    border: 1px solid var(--base-color);
    background: none;
}

.field--select-state {
    position: relative;
}

@media (min-width: 631px) {

    .field--select-state::before {
        content: '/';
    
        position: absolute;
        top: 10px;
        left: -12px;
    
        color: var(--base-color);
        font-size: 1.2rem;
    
    }

}

/*  RADIO  */

.field-radio {
    position: relative;

    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

@media (max-width: 590px) {

    .field-radio {
        flex-direction: column;
    }

}

.field-radio__img {
    position: relative;
    z-index: -1;

    flex: 1 110px 110px;

    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    background-color: var(--brand-color-secondary);
    border-radius: 4px;
}

@media (max-width: 590px) {

    .field-radio__img {
        margin-right: 0;
        margin-bottom: 1rem;
    }

}

.field-radio__legend {
    flex: 1;
}

@media (max-width: 590px) {

    .field-radio__legend {
        text-align: center;
    }

}

.input-radio__container {
    position: relative;  
    width: 110px; 
}

.input-radio {
    position: absolute;
    top: 5px;
    right: 4px;
    z-index: 9;

    transform: translate(-2px, 2px);
    opacity: 0;
}

.label-radio {
    position: absolute;
    top: 18px;
    right: -3px;
    
    height: 20px;
    width: 20px;
    display: block;

    background-color: var(--contrast-color);
    border-radius: 50%;

    transform: translate(-6px, -15px);
}

.input-radio:checked ~ .label-radio::after {
    content: '';
    
    position: absolute;
    top: 4px;
    left: 4px;

    height: 12px;
    width: 12px;

    background-color: var(--brand-color);
    border-radius: 50%;

}

.input-radio:checked ~ .label-radio ~ .field-radio__img {
    background-color: var(--brand-color);
}

/*  CHECKED */

.field-radio--checked .field-radio__img{
    background-color: var(--brand-color);
}

.field-radio--checked .input-radio:checked ~ .label-radio::after {
    background-color: var(--brand-color);  
}

/*  COMPANY AREA    */

.field-radio--company-area {
    width: 110px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
}

.field-radio__legend--company-area {
    margin-top: .6rem;
    font-weight: bold;
}