.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.title {
    margin-bottom: 2rem;

    color: var(--brand-color);
    font-family: 'Baloo', cursive;
    font-size: 2rem;
    line-height: 2rem;
}

.paragraph {
    margin-bottom: 1rem;

    color: var(--base-color);
    font-size: .9rem;
}

.paragraph--secondary {    
    color: var(--brand-color-secondary);
    font-weight: bold;
}

.paragraph--ligther {
    color: #9e9e9e;
    line-height: 1.6rem;
}

.paragraph--noMargin {
    margin-bottom: 0;
}

.paragraph--bigger {
    font-size: 1.1rem;
}

.paragraph--checkbox {
    flex: 70%;
    margin-bottom: 0;
}

.link {
    color: var(--base-color);
    font-size: 1rem;
    text-decoration: underline;
}

.link--feat {
    color: var(--brand-color);
    font-weight: bold;
}