 <div class="form__content">   
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 1: Meus Dados
    </p>
    <p class="paragraph">
        Você trabalha e a DicasMEI cuida da sua empresa. Seja um MEI agora mesmo! 
        <span class="block bold">Seu CNPJ e CCMEI saem na hora! </span>   
    </p>

    <form class="form form--userVoter" data-control="btnNext" data-next="02-userVoterCard">
        <div class="field field--medium">
            <input class="input" type="text" data-mask="cpf" maxlength="14" required>
            <label class="label">CPF</label>
        </div>
        <div class="field field--small">
            <input class="input" type="date" data-validate="true" required>
            <label class="label">*Data de Nascimento</label>
        </div>
        <div class="form__flex form__flex--userData">
            <div class="field field-checkbox">
                <input class="input-checkbox" type="checkbox" required>
                <label class="label-checkbox"></label>
                <p class="paragraph paragraph--checkbox">
                    Li e concordo com os <a class="link" href="#modalServiceTerms" title="Termos de Serviço"> termos de aceite do 
                    serviço de formalização da MEI</a>
                </p>
            </div>
            <div class="btn__container">
                <button class="btn-prev" data-control="btnPrev" data-prev="01-userData" type="submit">
                    <div class="btn-prev__img">
                        <img src="img/icon-prev.svg" alt="Ícone Next">
                    </div>
                    Voltar
                </button>
                <button class="btn" type="submit">
                    <div class="btn__img">
                        <img src="img/icon-next.svg" alt="Ícone Next">
                    </div>
                    Próximo Passo
                </button>
            </div>
        </div>
    </form>

    <!-- MODAL -->

    <div id="modalServiceTerms" class="modal">
        <div class="modal__content modal__content--bigger modal__content--serviceTerms">
            <header class="serviceTerms__header">
                <h3 class="serviceTerms__title">
                    Termos de Serviço
                </h3>
                <div class="modal__close">
                    <a class="modal__close__link" href="#" title="Fechar">
                        <div>
                            <img src="img/icon-closeModal.png" alt="Ícone fechar">
                        </div>
                    </a>
                </div>  
            </header>
            <div class="serviceTerms__content">
                <p class="paragraph paragraph--ligther">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget magna in lorem fringilla tincidunt vitae sit amet ligula. Ut vel porta odio, sed mollis magna. Nulla tellus mi, interdum id nisi non, efficitur euismod enim. Pellentesque euismod ut eros in mattis. Nulla ac ex mattis, congue lorem nec, consequat tellus. Quisque eu consectetur tellus. Maecenas sodales erat eu pellentesque efficitur. In commodo purus scelerisque arcu condimentum vulputate. Quisque id nisi ante. Donec sed turpis at diam blandit sodales. Sed arcu nibh, imperdiet pellentesque rutrum suscipit, viverra at ante. Nam a bibendum arcu. Morbi sapien ex, ultrices ut auctor eu, finibus vel ipsum. Integer nec nibh tincidunt, semper mi sed, lobortis elit. Maecenas ut urna eget quam consectetur volutpat. 
                </p>
                <p class="paragraph paragraph--ligther">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget magna in lorem fringilla tincidunt vitae sit amet ligula. Ut vel porta odio, sed mollis magna. Nulla tellus mi, interdum id nisi non, efficitur euismod enim. Pellentesque euismod ut eros in mattis. Nulla ac ex mattis, congue lorem nec, consequat tellus. Quisque eu consectetur tellus. Maecenas sodales erat eu pellentesque efficitur. In commodo purus scelerisque arcu condimentum vulputate. Quisque id nisi ante. Donec sed turpis at diam blandit sodales. Sed arcu nibh, imperdiet pellentesque rutrum suscipit, viverra at ante. Nam a bibendum arcu. Morbi sapien ex, ultrices ut auctor eu, finibus vel ipsum. Integer nec nibh tincidunt, semper mi sed, lobortis elit. Maecenas ut urna eget quam consectetur volutpat. 
                </p>
                <p class="paragraph paragraph--ligther">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget magna in lorem fringilla tincidunt vitae sit amet ligula. Ut vel porta odio, sed mollis magna. Nulla tellus mi, interdum id nisi non, efficitur euismod enim. Pellentesque euismod ut eros in mattis. Nulla ac ex mattis, congue lorem nec, consequat tellus. Quisque eu consectetur tellus. Maecenas sodales erat eu pellentesque efficitur. In commodo purus scelerisque arcu condimentum vulputate. Quisque id nisi ante. Donec sed turpis at diam blandit sodales. Sed arcu nibh, imperdiet pellentesque rutrum suscipit, viverra at ante. Nam a bibendum arcu. Morbi sapien ex, ultrices ut auctor eu, finibus vel ipsum. Integer nec nibh tincidunt, semper mi sed, lobortis elit. Maecenas ut urna eget quam consectetur volutpat. 
                </p>
            </div>
            <a href="#" class="btn  btn--serviceTerms">
                Eu aceito
            </a>
        </div>
    </div>
</div>


<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 1 de 7
    </p>
    <div class="progress-bar__bar"></div>
    <p class="paragraph paragraph--secondary">
        Começando a abrir a empresa
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Você tem <span class="bold"> muito a ganhar </span> sendo <span class="bold"> </span>MEI.</span> </p>
            <p class="paragraph">Quer saber sobre benefícios de ser MEI?</p>
            <a class="link" href="" title="Clique Aqui">Clique aqui</a>
        </div>
    </div>
    <div class="progress-bar__img">
        <img src="img/img-step-01.png" alt="">
    </div>
</div>
    