<div class="form__content">
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 2: Título do Eleitor
    </p>
    <p class="paragraph">
        Não sabe o número do seu título? 
        <a class="link link--feat" href="http://www.tse.jus.br/eleitor/servicos/titulo-de-eleitor/titulo-e-local-de-votacao/consulta-por-nome" title="Título do Eleitor" target="_blank">
            Clique aqui e consulte.
        </a>
    </p>

    <form class="form" data-control="btnNext" data-next="03-userConfirmData">

        <div class="field field--small">
            <input class="input" type="text" maxlength="13" data-validate="true" required>
            <label class="label">*Nº do Título de Eleitor</label>
        </div>

        <div class="btn__container">
            <button class="btn-prev" data-control="btnPrev" data-prev="01-userData" type="submit">
                <div class="btn-prev__img">
                    <img src="img/icon-prev.svg" alt="Ícone Next">
                </div>
                Voltar
            </button>
            <button class="btn" type="submit">
                <div class="btn__img">
                    <img src="img/icon-next.svg" alt="Ícone Next">
                </div>
                Próximo Passo
            </button>
        </div>
        
    </form>
</div>


<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 2 de 7
    </p>
    <div class="progress-bar__bar progress-bar__bar--02"></div>
    <p class="paragraph paragraph--secondary">
        14% preenchido
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Coloque o seu número do Título de Eleitor. </p>
        </div>
    </div>
    <div class="progress-bar__img progress-bar__img--02">
        <img src="img/img-step-02.png" alt="">
    </div>
</div>