 <div class="form__content">  
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 3: Confira seus dados
    </p>
    <p class="paragraph">
        Confira os seus dados abaixo 
    </p>

    <form class="form" data-control="btnNext" data-next="04-userCompleteData">

        <div class="form__flex">
            <div class="field field--small">
                <input class="input" type="text" value="392.359.218-30" readonly disabled>
                <label class="label">CPF</label>
            </div>

            <div class="field field--small">
                <input class="input" type="text" value="02/10/1997" readonly disabled>
                <label class="label">*Data de Nascimento</label>
            </div>
        </div>

        <div class="field">
            <input class="input" type="text" value="Karoline Alencar 392359" readonly disabled>
            <label class="label">Nome Empresarial</label>
        </div>

        <div class="form__flex">
            <div class="field">
                <input class="input" type="text" value="Karoline de Alencar Alves" readonly disabled>
                <label class="label">Nome Completo</label>
            </div>

            <div class="field field--small">
                <input class="input" type="text" value="Brasileira" readonly disabled>
                <label class="label">Nacionalidade</label>
            </div>
        </div>

        <div class="form__flex">
            <div class="field field--small">
                <input class="input" type="text" value="Feminino" readonly disabled>
                <label class="label">Gênero</label>
            </div>

            <div class="field">
                <input class="input" type="text" value="Giselda Dias de Alencar Oliveira" readonly disabled>
                <label class="label">Nome da mãe</label>
            </div>
        </div>

        <div class="field">
            <input class="input" type="text" value="898989989" readonly disabled>
            <label class="label">*Nº do Título de Eleitor</label>
        </div>

        <div class="btn__container">
            <button class="btn-prev" data-control="btnPrev" data-prev="02-userVoterCard" type="submit">
                <div class="btn-prev__img">
                    <img src="img/icon-prev.svg" alt="Ícone Next">
                </div>
                Voltar
            </button>
            <button class="btn" type="submit">
                <div class="btn__img">
                    <img src="img/icon-next.svg" alt="Ícone Next">
                </div>
                Próximo Passo
            </button>
        </div>
        
    </form>
</div>

<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 3 de 7
    </p>
    <div class="progress-bar__bar progress-bar__bar--03"></div>
    <p class="paragraph paragraph--secondary">
        28% preenchido
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Confirme suas informações pessoais. </p>
        </div>
    </div>
    <div class="progress-bar__img progress-bar__img--03">
        <img src="img/img-step-03.png" alt="">
    </div>
</div>