<div class="form__content">
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 4: Complete seus Dados
    </p>
    <p class="paragraph">
        Complemente seus dados preenchendo os campos abaixo 
        <span class="italic block">* Campos Obrigatórios</span>
    </p>

    <form class="form" data-control="btnNext" data-next="05-userCompanyLocation">

        <div class="form__flex">
            <div class="field field--small">
                <input class="input" type="text" maxlength="9" data-mask="rg" required >
                <label class="label">*RG</label>
            </div>

            <div class="field field--small">
                <input class="input" type="text" required>
                <label class="label">*Orgão Emissor</label>
            </div>

            <div class="field field--small field--select-state">
                <select class="select select--state" required>
                    <option value="">*Estado Emissor</option>
                    <option value="sp">São Paulo</option>
                </select>
            </div>

        </div>

        <div class="field">
            <input class="input" type="email" required>
            <label class="label">*E-mail</label>
        </div>

        <div class="field">
            <input class="input" type="text" required>
            <label class="label">*Nome Completo</label>
        </div>

        <div class="field">
            <input class="input" type="text" required>
            <label class="label">*Capital Social</label>
        </div>

        <div class="field">
            <input class="input" type="tel" maxlength="11" required>
            <label class="label">*Telefone</label>
        </div>
    
        <div class="btn__container">
            <button class="btn-prev" data-control="btnPrev" data-prev="03-userConfirmData" type="submit">
                <div class="btn-prev__img">
                    <img src="img/icon-prev.svg" alt="Ícone Next">
                </div>
                Voltar
            </button>
            <button class="btn" type="submit">
                <div class="btn__img">
                    <img src="img/icon-next.svg" alt="Ícone Next">
                </div>
                Próximo Passo
            </button>
        </div>
        
    </form>
</div>
<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 4 de 7
    </p>
    <div class="progress-bar__bar progress-bar__bar--04"></div>
    <p class="paragraph paragraph--secondary">
        42% preenchido
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Adicione informações pessoais que restam para criaçao da sua empresa.  </p>
        </div>
    </div>
    <div class="progress-bar__img progress-bar__img--04">
        <img src="img/img-step-04.png" alt="">
    </div>
</div>