<div class="form__content"> 
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 5: Trabalha em casa?
    </p>
    <p class="paragraph">
        Agora você deve inserir informações relativas a sua futura empresa. 
    </p>

    <form class="form" data-control="btnNext" data-next="06-userCompanyActivity">

        <div class="form__flex form__flex--radio">
            <div class="field-radio">
                <div class="input-radio__container input-radio__container--companyLocation">
                    <input class="input-radio" type="radio" name="companyLocation" value="house" required>
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-house.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend">
                    <p class="paragraph bold">
                        Sim, trabalho em casa
                    </p>
                </div>
            </div>
            <div class="field-radio">
                <div class="input-radio__container input-radio__container--companyLocation">
                    <input class="input-radio" type="radio" name="companyLocation" value="house" required>
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-address.png" alt="Ícone Casa">
                        </div> 
                    </div>
                </div>
                <div class="field-radio__legend">
                    <p class="paragraph">
                        <span class="bold block">Adicionar endereço</span>
                        Caso não trabalhe em casa, clique aqui.
                    </p>
                </div>
            </div>
        </div>

        <div class="field">
            <input class="input" type="text" data-js="CEP" maxlength="9" required>
            <label class="label">*CEP Comercial</label>
            <p class="paragraph">
                Não sabe o CEP? <a class="link link--feat" href="" title="CEP">Clique aqui e consulte</a>
            </p>
        </div>

        <div class="field">
            <input class="input" type="text" data-address="street" required>
            <label class="label">*Endereço Comercial</label>
        </div>

        <div class="field">
            <input class="input" type="text" required>
            <label class="label">Número</label>
        </div>

        <div class="field">
            <input class="input" type="text" data-address="neighborhood" required>
            <label class="label">*Bairro</label>
        </div>

        <div class="field field--small">
            <select class="select" data-address="state" required>
                <option value="">*Estado</option>
                <option value="SP">São Paulo</option>
            </select>
        </div>

        <div class="field field--small">
            <select class="select" data-address="city" required>
                <option value="">*Cidade</option>
                <option value="Bauru">Bauru</option>
            </select>
        </div>

        <div class="field">
            <input class="input" type="text" data-address="complement">
            <label class="label">Ponto de referência</label>
        </div>

        <div class="btn__container">
            <button class="btn-prev" data-control="btnPrev" data-prev="04-userCompleteData" type="submit">
                <div class="btn-prev__img">
                    <img src="img/icon-prev.svg" alt="Ícone Next">
                </div>
                Voltar
            </button>
            <button class="btn" type="submit">
                <div class="btn__img">
                    <img src="img/icon-next.svg" alt="Ícone Next">
                </div>
                Próximo Passo
            </button>
        </div>
        
    </form>
</div>

<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 5 de 7
    </p>
    <div class="progress-bar__bar progress-bar__bar--05"></div>
    <p class="paragraph paragraph--secondary">
        56% preenchido
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Informe os dados sobre o endereço da sua empresa.   </p>
        </div>
    </div>
    <div class="progress-bar__img progress-bar__img--05">
        <img src="img/img-step-05.png" alt="">
    </div>
</div>