<div class="form__content">
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 6: Atividade da Empresa
    </p>

    <form class="form" data-form="companyActivity" data-control="btnNext" data-next="07-userCompanyArea">

        <div data-control="fieldContainer">
            <div class="field">
                <input class="input" type="text" data-js="searchActivity" required>
                <label class="label">*Atividade Principal</label>
                <ul class="activity-list" data-control="activityList"></ul>
            </div>

            <div class="field">
                <input class="input" type="text" data-js="searchActivity">
                <label class="label">*Atividade Principal</label>
                <ul class="activity-list" data-control="activityList"></ul>
            </div>
            
        </div>

        <a class="link" href="#" data-control="addActivity">
            + Adicionar mais atividades secundárias
        </a>

        <div class="btn__container">
            <button class="btn-prev" data-control="btnPrev" data-prev="05-userCompanyLocation" type="submit">
                <div class="btn-prev__img">
                    <img src="img/icon-prev.svg" alt="Ícone Next">
                </div>
                Voltar
            </button>
            <button class="btn" type="submit">
                <div class="btn__img">
                    <img src="img/icon-next.svg" alt="Ícone Next">
                </div>
                Próximo Passo
            </button>
        </div>
        
    </form>

</div>

<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 6 de 7
    </p>
    <div class="progress-bar__bar progress-bar__bar--06"></div>
    <p class="paragraph paragraph--secondary">
        70% preenchido
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Escolha uma profissão principal e até 15 profissões secundárias.    </p>
        </div>
    </div>
    <div class="progress-bar__img progress-bar__img--06">
        <img src="img/img-step-06.png" alt="">
    </div>
</div>