<div class="form__content">
    <h2 class="title">
        Abrir minha MEI
    </h2>
    <p class="paragraph paragraph--secondary">
        Passo 7:  Formal de Atuação (selecione uma ou mais opções)
    </p>

    <form class="form">

        <div class="form__flex form__flex--radio form__flex--company-area">
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="EstabelecimentoFisico">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-house.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Estabelecimento Físico 
                    </p>
                </div>
            </div>   
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="Internet">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-internet.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Internet
                    </p>
                </div>
            </div>  
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="LocalFixo">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-shop.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Em local fixo fora da loja
                    </p>
                </div>
            </div>    
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="Correio">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-mail.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Correio
                    </p>
                </div>
            </div>
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="Porta">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-street.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Porta a porta, postos móveis ou por ambulantes
                    </p>
                </div>
            </div>
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="Televenda">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-headset.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Televenda
                    </p>
                </div>
            </div>
            <div class="field-radio field-radio--company-area">
                <div class="input-radio__container">
                    <input class="input-radio" type="radio" value="Maquinas">
                    <label class="label-radio"></label>
                    <div class="field-radio__img">
                        <div>   
                            <img src="img/icon-machine.png" alt="Ícone Casa">
                        </div>
                    </div>
                </div>
                <div class="field-radio__legend field-radio__legend--company-area">
                    <p class="paragraph">
                        Máquinas Automáticas
                    </p>
                </div>
            </div>
        </div>

        <div class="btn__container">
            <button class="btn-prev" data-control="btnPrev" data-prev="06-userCompanyActivity" type="submit">
                <div class="btn-prev__img">
                    <img src="img/icon-prev.svg" alt="Ícone Next">
                </div>
                Voltar
            </button>
            <a  href="#modal" class="btn" type="submit">
                <div class="btn__img">
                    <img src="img/icon-next.svg" alt="Ícone Next">
                </div>
                Próximo Passo
            </a>
        </div>
        
    </form>
</div>

<div class="progress-bar">
    <p class="paragraph paragraph--secondary">
        Passo 7 de 7
    </p>
    <div class="progress-bar__bar progress-bar__bar--07"></div>
    <p class="paragraph paragraph--secondary">
        84% preenchido
    </p>

    <div class="progress-bar__legend">
        <div class="progress-bar__legend__content">
            <p class="paragraph"> Onde você vai atuar? Via internet? Na rua? Numa loja?  </p>
            <p class="paragraph">Diga nesse passo!  </p>
        </div>
    </div>
    <div class="progress-bar__img progress-bar__img--07">
        <img src="img/img-step-07.png" alt="">
    </div>
</div>

<!-- MODAL -->
<div id="modal" class="modal">
    <div class="modal__content">
        <div class="modal__close">
            <a class="modal__close__link" href="#" title="Fechar">
                <div>
                    <img src="img/icon-closeModal.png" alt="Ícone fechar">
                </div>
            </a>
        </div>
        <p class="paragraph paragraph--bigger">
            Confira suas informações abaixo
        </p>
        <h3 class="modal__title">
            Karoline Alencar
        </h3>
        <p class="paragraph paragraph--secondary paragraph--noMargin">
            Data de Nascimento
        </p>
        <p class="paragraph">
            02/10/1997
        </p>
        <p class="paragraph paragraph--secondary paragraph--noMargin">
            Sexo
        </p>
        <p class="paragraph">
            Feminino
        </p>
        <p class="paragraph paragraph--secondary paragraph--noMargin">
            Nacionalidade
        </p>
        <p class="paragraph">
            Brasileira
        </p>
        <p class="paragraph paragraph--modal">
            Caso esteja ok, clique em confirmar.
            Caso exista algum problema, cancele a operação.
        </p>
        <a href="#modalConfirm" class="btn btn--modal">
            Confirmar
        </a>
        <a href="index.html" class="btn btn--outline btn--modal-small" type="submit">
            Cancelar
        </a>
    </div>
</div>

<div id="modalConfirm" class="modal">
    <div class="modal__content">
        <div class="modal__close">
            <a class="modal__close__link" href="#" title="Fechar">
                <div>
                    <img src="img/icon-closeModal.png" alt="Ícone fechar">
                </div>
            </a>
        </div>
        <p class="paragraph paragraph--bigger">
            Confirmação de Inscrição
        </p>
        <p class="paragraph">
            Você receberá uma mensagem de texto
            com o código de confirmação no telefone:
        </p>

        <div class="field field--small field--tel">
            <input class="input" type="text" required>
        </div>

        <p class="paragraph paragraph--modal">
            Esse código deveserá ser informado na próxima etapa.
            Somente após a inserção deste codigo é que a formalização será concluída.
        </p>

        <p class="paragraph">
            Deseja continuar?
        </p>

        <a href="#modalConfirmCode" class="btn btn--modal">
            Confirmar
        </a>
        <a href="index.html" class="btn btn--outline btn--modal-small" type="submit">
            Cancelar
        </a>
    </div>
</div>

<div id="modalConfirmCode" class="modal">
    <div class="modal__content">
        <div class="modal__close">
            <a class="modal__close__link" href="#" title="Fechar">
                <div>
                    <img src="img/icon-closeModal.png" alt="Ícone fechar">
                </div>
            </a>
        </div>
        <p class="paragraph paragraph--bigger">
            Código de confirmação
        </p>
        <p class="paragraph paragraph--secondary">
            Informe abaixo o código de confirmação que foi enviado
            no seu telefone
        </p>

        <div class="field field--small field--tel">
            <input class="input" type="text" required>
        </div>

        <p class="paragraph paragraph--modal">
            <span class="bold">Atenção:</span>
            Informamos que a partir da confirmação, sua formalização
            como Microempreendedor Individual será concluída e será gerado
            o CNPJ e o número de registro na Junta Comercial - NIRE.
        </p>
    
        <form data-control="btnNext" data-next="08-userSuccess">
            <button class="btn btn--modal" type="submit">
                Confirmar
            </button>
        </form>
        <a href="index.html" class="btn btn--outline btn--modal" type="submit">
            <div class="btn__img">
                <img src="img/icon-mobile.svg" alt="Ícone Next">
            </div>
            Reenviar Código
        </a>
        <a href="#modalConfirm" class="btn btn--outline btn--modal" type="submit">
            <div class="btn__img">
                <img src="img/icon-phone.svg" alt="Ícone Next">
            </div>
            Alterar Telefone
        </a>
        <a href="index.html" class="btn btn--outline btn--small" type="submit">
            Cancelar
        </a>
    </div>
</div>

