<div>
    <h2 class="title">
        Parabéns Karoline ALencar!
    </h2>

    <p class="paragraph">
        Você agora é MEI!
    </p>

    <p class="paragraph">
        Seu CNPJ é:
    </p>

    <div class="field field--cnpj">
        <input class="input input--cnpj" type="text" value="4444.444/000" readonly>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32">
            <title>checkmark</title>
            <path fill="#45b347" d="M27 4l-15 15-7-7-5 5 12 12 20-20z"></path>
        </svg>
    </div>

    <p class="paragraph">
        O Primeiro passo foi dado! Baixe abaixo seu 
        <span class="bold">Certificado de Condição de Microempreendedor Individual - CCMEI.</span>
    </p>

    <p class="paragraph">
        Guarde com carinho, esse documento é importante!
    </p>

    <a class="btn btn--cnpj btn--left" href="https://www.empreendemei.com.br/ccmei-certificado-mei-condicao/" title="Certificado" target="_blank">
        Baixe aqui seu CCMEI
    </a>
</div>
<div class="userSuccess__img">
    <img src="img/img-step-08.png" alt="">
</div>